In [14]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

In [15]:
flights_df = pd.read_csv('C:/Users/charl/Downloads/Atlanta_01_2023_Flights.csv')

In [16]:
Atl_dept = flights_df[flights_df['ORIGIN_CITY_NAME'] == 'Atlanta, GA']

In [17]:
Atl_dept

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,MKT_UNIQUE_CARRIER,MKT_CARRIER_FL_NUM,ORIGIN_CITY_NAME,DEST_CITY_NAME,CRS_DEP_TIME,DEP_TIME,DEP_DELAY_NEW,DEP_DELAY_GROUP,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
2,1,1,7,AA,1051,"Atlanta, GA","Dallas/Fort Worth, TX",1817,1816.0,0.0,-1.0,3,NaN,NaN,NaN,NaN,NaN
4,1,1,7,AA,1151,"Atlanta, GA","Miami, FL",602,553.0,0.0,-1.0,3,NaN,NaN,NaN,NaN,NaN
5,1,1,7,AA,1181,"Atlanta, GA","Washington, DC",1424,1439.0,15.0,1.0,3,NaN,NaN,NaN,NaN,NaN
7,1,1,7,AA,1388,"Atlanta, GA","Miami, FL",1822,1814.0,0.0,-1.0,3,0.0,0.0,19.0,0.0,0.0
8,1,1,7,AA,1411,"Atlanta, GA","Charlotte, NC",1253,1247.0,0.0,-1.0,1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56161,1,31,2,WN,885,"Atlanta, GA","Orlando, FL",2150,2203.0,13.0,0.0,2,NaN,NaN,NaN,NaN,NaN
56162,1,31,2,WN,923,"Atlanta, GA","Columbus, OH",1110,1110.0,0.0,0.0,2,NaN,NaN,NaN,NaN,NaN
56164,1,31,2,WN,972,"Atlanta, GA","Cleveland, OH",1635,1631.0,0.0,-1.0,3,NaN,NaN,NaN,NaN,NaN
56166,1,31,2,WN,993,"Atlanta, GA","Omaha, NE",900,856.0,0.0,-1.0,4,NaN,NaN,NaN,NaN,NaN
56168,1,31,2,WN,994,"Atlanta, GA","Chicago, IL",2155,2338.0,103.0,6.0,3,0.0,0.0,0.0,0.0,91.0

In [18]:
AA_Atl_depts = Atl_dept[Atl_dept['MKT_UNIQUE_CARRIER'] == 'AA']

In [19]:
AA_Atl_depts

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,MKT_UNIQUE_CARRIER,MKT_CARRIER_FL_NUM,ORIGIN_CITY_NAME,DEST_CITY_NAME,CRS_DEP_TIME,DEP_TIME,DEP_DELAY_NEW,DEP_DELAY_GROUP,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
2,1,1,7,AA,1051,"Atlanta, GA","Dallas/Fort Worth, TX",1817,1816.0,0.0,-1.0,3,NaN,NaN,NaN,NaN,NaN
4,1,1,7,AA,1151,"Atlanta, GA","Miami, FL",602,553.0,0.0,-1.0,3,NaN,NaN,NaN,NaN,NaN
5,1,1,7,AA,1181,"Atlanta, GA","Washington, DC",1424,1439.0,15.0,1.0,3,NaN,NaN,NaN,NaN,NaN
7,1,1,7,AA,1388,"Atlanta, GA","Miami, FL",1822,1814.0,0.0,-1.0,3,0.0,0.0,19.0,0.0,0.0
8,1,1,7,AA,1411,"Atlanta, GA","Charlotte, NC",1253,1247.0,0.0,-1.0,1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54423,1,31,2,AA,5083,"Atlanta, GA","Charlotte, NC",1822,1813.0,0.0,-1.0,1,NaN,NaN,NaN,NaN,NaN
54429,1,31,2,AA,5151,"Atlanta, GA","Philadelphia, PA",1025,1016.0,0.0,-1.0,3,NaN,NaN,NaN,NaN,NaN
54449,1,31,2,AA,663,"Atlanta, GA","Chicago, IL",739,908.0,89.0,5.0,3,89.0,0.0,10.0,0.0,0.0
54451,1,31,2,AA,980,"Atlanta, GA","Dallas/Fort Worth, TX",1409,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN
54453,1,31,2,AA,982,"Atlanta, GA","Dallas/Fort Worth, TX",1219,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN

In [20]:
AA_Atl_depts = AA_Atl_depts.fillna(0)

In [21]:
AA_Atl_depts

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,MKT_UNIQUE_CARRIER,MKT_CARRIER_FL_NUM,ORIGIN_CITY_NAME,DEST_CITY_NAME,CRS_DEP_TIME,DEP_TIME,DEP_DELAY_NEW,DEP_DELAY_GROUP,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
2,1,1,7,AA,1051,"Atlanta, GA","Dallas/Fort Worth, TX",1817,1816.0,0.0,-1.0,3,0.0,0.0,0.0,0.0,0.0
4,1,1,7,AA,1151,"Atlanta, GA","Miami, FL",602,553.0,0.0,-1.0,3,0.0,0.0,0.0,0.0,0.0
5,1,1,7,AA,1181,"Atlanta, GA","Washington, DC",1424,1439.0,15.0,1.0,3,0.0,0.0,0.0,0.0,0.0
7,1,1,7,AA,1388,"Atlanta, GA","Miami, FL",1822,1814.0,0.0,-1.0,3,0.0,0.0,19.0,0.0,0.0
8,1,1,7,AA,1411,"Atlanta, GA","Charlotte, NC",1253,1247.0,0.0,-1.0,1,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54423,1,31,2,AA,5083,"Atlanta, GA","Charlotte, NC",1822,1813.0,0.0,-1.0,1,0.0,0.0,0.0,0.0,0.0
54429,1,31,2,AA,5151,"Atlanta, GA","Philadelphia, PA",1025,1016.0,0.0,-1.0,3,0.0,0.0,0.0,0.0,0.0
54449,1,31,2,AA,663,"Atlanta, GA","Chicago, IL",739,908.0,89.0,5.0,3,89.0,0.0,10.0,0.0,0.0
54451,1,31,2,AA,980,"Atlanta, GA","Dallas/Fort Worth, TX",1409,0.0,0.0,0.0,3,0.0,0.0,0.0,0.0,0.0
54453,1,31,2,AA,982,"Atlanta, GA","Dallas/Fort Worth, TX",1219,0.0,0.0,0.0,3,0.0,0.0,0.0,0.0,0.0

In [22]:
AA_Atl_depts['Total_delay_minutes'] = AA_Atl_depts['DEP_DELAY_NEW'].where(AA_Atl_depts['DEP_DELAY_NEW'] != 0, 0).cumsum()

In [23]:
AA_Atl_depts['Total_deptartures'] = AA_Atl_depts.groupby((AA_Atl_depts['DAY_OF_MONTH'] == 0).cumsum()).cumcount() + 1

In [25]:
AA_Atl_depts['Total_delay_count'] = (AA_Atl_depts['DEP_DELAY_NEW'] != 0).cumsum()

In [26]:
AA_Atl_depts

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,MKT_UNIQUE_CARRIER,MKT_CARRIER_FL_NUM,ORIGIN_CITY_NAME,DEST_CITY_NAME,CRS_DEP_TIME,DEP_TIME,DEP_DELAY_NEW,DEP_DELAY_GROUP,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Total_delay_minutes,Total_deptartures,Total_delay_count
2,1,1,7,AA,1051,"Atlanta, GA","Dallas/Fort Worth, TX",1817,1816.0,0.0,-1.0,3,0.0,0.0,0.0,0.0,0.0,0.0,1,0
4,1,1,7,AA,1151,"Atlanta, GA","Miami, FL",602,553.0,0.0,-1.0,3,0.0,0.0,0.0,0.0,0.0,0.0,2,0
5,1,1,7,AA,1181,"Atlanta, GA","Washington, DC",1424,1439.0,15.0,1.0,3,0.0,0.0,0.0,0.0,0.0,15.0,3,1
7,1,1,7,AA,1388,"Atlanta, GA","Miami, FL",1822,1814.0,0.0,-1.0,3,0.0,0.0,19.0,0.0,0.0,15.0,4,1
8,1,1,7,AA,1411,"Atlanta, GA","Charlotte, NC",1253,1247.0,0.0,-1.0,1,0.0,0.0,0.0,0.0,0.0,15.0,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54423,1,31,2,AA,5083,"Atlanta, GA","Charlotte, NC",1822,1813.0,0.0,-1.0,1,0.0,0.0,0.0,0.0,0.0,17934.0,1015,301
54429,1,31,2,AA,5151,"Atlanta, GA","Philadelphia, PA",1025,1016.0,0.0,-1.0,3,0.0,0.0,0.0,0.0,0.0,17934.0,1016,301
54449,1,31,2,AA,663,"Atlanta, GA","Chicago, IL",739,908.0,89.0,5.0,3,89.0,0.0,10.0,0.0,0.0,18023.0,1017,302
54451,1,31,2,AA,980,"Atlanta, GA","Dallas/Fort Worth, TX",1409,0.0,0.0,0.0,3,0.0,0.0,0.0,0.0,0.0,18023.0,1018,302
54453,1,31,2,AA,982,"Atlanta, GA","Dallas/Fort Worth, TX",1219,0.0,0.0,0.0,3,0.0,0.0,0.0,0.0,0.0,18023.0,1019,302

In [29]:
X=AA_Atl_depts[['DAY_OF_MONTH','DAY_OF_WEEK','CRS_DEP_TIME','Total_deptartures', 'Total_delay_count']]
X

,DAY_OF_MONTH,DAY_OF_WEEK,CRS_DEP_TIME,Total_deptartures,Total_delay_count
2,1,7,1817,1,0
4,1,7,602,2,0
5,1,7,1424,3,1
7,1,7,1822,4,1
8,1,7,1253,5,1
...,...,...,...,...,...
54423,31,2,1822,1015,301
54429,31,2,1025,1016,301
54449,31,2,739,1017,302
54451,31,2,1409,1018,302
54453,31,2,1219,1019,302

In [30]:
#Scale the feature data, X
from sklearn.preprocessing import StandardScaler
# Scaling the numeric columns
scaler = StandardScaler()
scaler.fit(X)
transformed_data = scaler.transform(X)
# Creating a DataFrame with with the scaled data
transformed_data_df = pd.DataFrame(transformed_data)

transformed_data_df

             0         1         2         3         4
0    -1.796936  1.500755  1.136146 -1.730352 -1.987026
1    -1.796936  1.500755 -1.489554 -1.726952 -1.987026
2    -1.796936  1.500755  0.286845 -1.723553 -1.974979
3    -1.796936  1.500755  1.146951 -1.720153 -1.974979
4    -1.796936  1.500755 -0.082697 -1.716754 -1.974979
...        ...       ...       ...       ...       ...
1014  1.624147 -0.909821  1.146951  1.716754  1.638977
1015  1.624147 -0.909821 -0.575421  1.720153  1.638977
1016  1.624147 -0.909821 -1.193487  1.723553  1.651024
1017  1.624147 -0.909821  0.254429  1.726952  1.651024
1018  1.624147 -0.909821 -0.156174  1.730352  1.651024

[1019 rows x 5 columns]

In [31]:
from sklearn.decomposition import PCA
# Create a PCA model
pca = PCA(n_components=3)

In [32]:
# Use the PCA model with `fit_transform` to reduce to
# three principal components.
pca_data = pca.fit_transform(transformed_data_df)

pca_dict = {}
for i in range(0,3):
    pca_dict[f'pca{i+1}']=pca_data[:,i]
# Display sample data
pca_df = pd.DataFrame(pca_dict)
pca_df

          pca1      pca2      pca3
0     3.162904  1.882043 -0.357472
1     3.132641 -0.003187 -2.184827
2     3.142879  1.272200 -0.948369
3     3.150187  1.889714 -0.349705
4     3.134971  1.006823 -1.205449
...        ...       ...       ...
1014 -2.842538  0.169533  1.516982
1015 -2.863065 -1.067125  0.318317
1016 -2.878635 -1.510920 -0.111704
1017 -2.864992 -0.471368  0.896060
1018 -2.871380 -0.766200  0.610348

[1019 rows x 3 columns]

In [34]:
#Seperate the data into features and targets
is_delayed=AA_Atl_depts['DEP_DELAY_NEW'].tolist()
y=[]
#Determine if the flight was delayed using the DEP_DELAY_NEW column and
#convert to boolean values
for i in is_delayed:
    if i == 0:
        y.append(0)
    else:
        y.append(1)
y = pd.DataFrame(y)
y

      0
0     0
1     0
2     1
3     0
4     0
...  ..
1014  0
1015  0
1016  1
1017  0
1018  0

[1019 rows x 1 columns]

In [35]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(transformed_data_df, y, random_state=78)

In [36]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=6, activation="relu", input_dim=5))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=6, activation="relu"))

# Third hidden layer
nn_model.add(tf.keras.layers.Dense(units=6, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

WARNING:tensorflow:From C:\Users\charl\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 6)                 36

 dense_1 (Dense)             (None, 6)                 42

 dense_2 (Dense)             (None, 6)                 42

 dense_3 (Dense)             (None, 1)                 7

=================================================================
Total params: 127 (508.00 Byte)
Trainable params: 127 (508.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [37]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\charl\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [38]:
# Train the model
fit_model = nn_model.fit(X_train, y_train, epochs=100)

Epoch 1/100
WARNING:tensorflow:From C:\Users\charl\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\charl\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

24/24 [==============================] - 2s 2ms/step - loss: 0.6509 - accuracy: 0.7042
Epoch 2/100
24/24 [==============================] - 0s 2ms/step - loss: 0.6353 - accuracy: 0.7042
Epoch 3/100
24/24 [==============================] - 0s 1ms/step - loss: 0.6237 - accuracy: 0.7042
Epoch 4/100
24/24 [==============================] - 0s 1ms/step - loss: 0.6152 - accuracy: 0.7042
Epoch 5/100
24/24 [==============================] - 0s 1ms/step - loss: 0.6094 - accuracy: 0.7042
Epoch 6/100
24/24 [==============================] - 0s 2ms/step - loss: 0.6039 - accuracy: 0.7042
Epoch 7/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5994 - accuracy: 0.7042
Epoch 8/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5968 - accuracy: 0.7042
Epoch 9/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5944 - accuracy: 0.7042
Epoch 10/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5929 - accuracy: 0.7042
Epoch 11/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5915 - accuracy: 0.7042
Epoch 12/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5903 - accuracy: 0.7042
Epoch 13/100
24/24 [==============================] - 0s 1ms/step - loss: 0.5895 - accuracy: 0.7042
Epoch 14/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5887 - accuracy: 0.7042
Epoch 15/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5877 - accuracy: 0.7042
Epoch 16/100
24/24 [==============================] - 0s 1ms/step - loss: 0.5870 - accuracy: 0.7042
Epoch 17/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5866 - accuracy: 0.7042
Epoch 18/100
24/24 [==============================] - 0s 1ms/step - loss: 0.5854 - accuracy: 0.7042
Epoch 19/100
24/24 [==============================] - 0s 1ms/step - loss: 0.5849 - accuracy: 0.7042
Epoch 20/100
24/24 [==============================] - 0s 1ms/step - loss: 0.5843 - accuracy: 0.7042
Epoch 21/100
24/24 [==============================] - 0s 1ms/step - loss: 0.5836 - accuracy: 0.7042
Epoch 22/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5833 - accuracy: 0.7042
Epoch 23/100
24/24 [==============================] - 0s 1ms/step - loss: 0.5825 - accuracy: 0.7042
Epoch 24/100
24/24 [==============================] - 0s 1ms/step - loss: 0.5826 - accuracy: 0.7042
Epoch 25/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5818 - accuracy: 0.7042
Epoch 26/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5813 - accuracy: 0.7042
Epoch 27/100
24/24 [==============================] - 0s 1ms/step - loss: 0.5812 - accuracy: 0.7042
Epoch 28/100
24/24 [==============================] - 0s 1ms/step - loss: 0.5806 - accuracy: 0.7042
Epoch 29/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5801 - accuracy: 0.7042
Epoch 30/100
24/24 [==============================] - 0s 1ms/step - loss: 0.5797 - accuracy: 0.7042
Epoch 31/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5797 - accuracy: 0.7042
Epoch 32/100
24/24 [==============================] - 0s 1ms/step - loss: 0.5790 - accuracy: 0.7042
Epoch 33/100
24/24 [==============================] - 0s 1ms/step - loss: 0.5787 - accuracy: 0.7042
Epoch 34/100
24/24 [==============================] - 0s 1ms/step - loss: 0.5784 - accuracy: 0.7042
Epoch 35/100
24/24 [==============================] - 0s 1ms/step - loss: 0.5780 - accuracy: 0.7042
Epoch 36/100
24/24 [==============================] - 0s 1ms/step - loss: 0.5777 - accuracy: 0.7042
Epoch 37/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5772 - accuracy: 0.7042
Epoch 38/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5770 - accuracy: 0.7042
Epoch 39/100
24/24 [==============================] - 0s 1ms/step - loss: 0.5768 - accuracy: 0.7042
Epoch 40/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5762 - accuracy: 0.7042
Epoch 41/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5761 - accuracy: 0.7042
Epoch 42/100
24/24 [==============================] - 0s 1ms/step - loss: 0.5759 - accuracy: 0.7042
Epoch 43/100
24/24 [==============================] - 0s 1ms/step - loss: 0.5762 - accuracy: 0.7042
Epoch 44/100
24/24 [==============================] - 0s 1ms/step - loss: 0.5753 - accuracy: 0.7042
Epoch 45/100
24/24 [==============================] - 0s 1ms/step - loss: 0.5751 - accuracy: 0.7042
Epoch 46/100
24/24 [==============================] - 0s 1ms/step - loss: 0.5752 - accuracy: 0.7042
Epoch 47/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5747 - accuracy: 0.7042
Epoch 48/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5749 - accuracy: 0.7042
Epoch 49/100
24/24 [==============================] - 0s 1ms/step - loss: 0.5746 - accuracy: 0.7042
Epoch 50/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5739 - accuracy: 0.7081
Epoch 51/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5742 - accuracy: 0.7173
Epoch 52/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5734 - accuracy: 0.7173
Epoch 53/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5737 - accuracy: 0.7147
Epoch 54/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5731 - accuracy: 0.7120
Epoch 55/100
24/24 [==============================] - 0s 1ms/step - loss: 0.5733 - accuracy: 0.7120
Epoch 56/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5726 - accuracy: 0.7107
Epoch 57/100
24/24 [==============================] - 0s 1ms/step - loss: 0.5727 - accuracy: 0.7107
Epoch 58/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5724 - accuracy: 0.7107
Epoch 59/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5721 - accuracy: 0.7120
Epoch 60/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5720 - accuracy: 0.7147
Epoch 61/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5719 - accuracy: 0.7107
Epoch 62/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5717 - accuracy: 0.7134
Epoch 63/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5713 - accuracy: 0.7134
Epoch 64/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5714 - accuracy: 0.7160
Epoch 65/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5713 - accuracy: 0.7186
Epoch 66/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5711 - accuracy: 0.7147
Epoch 67/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5709 - accuracy: 0.7160
Epoch 68/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5710 - accuracy: 0.7199
Epoch 69/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5702 - accuracy: 0.7186
Epoch 70/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5699 - accuracy: 0.7212
Epoch 71/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5689 - accuracy: 0.7186
Epoch 72/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5684 - accuracy: 0.7186
Epoch 73/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5680 - accuracy: 0.7251
Epoch 74/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5671 - accuracy: 0.7225
Epoch 75/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5667 - accuracy: 0.7199
Epoch 76/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5662 - accuracy: 0.7238
Epoch 77/100

24/24 [==============================] - 0s 3ms/step - loss: 0.5651 - accuracy: 0.7251
Epoch 78/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5647 - accuracy: 0.7251
Epoch 79/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5646 - accuracy: 0.7251
Epoch 80/100
24/24 [==============================] - 0s 1ms/step - loss: 0.5636 - accuracy: 0.7264
Epoch 81/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5642 - accuracy: 0.7264
Epoch 82/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5629 - accuracy: 0.7264
Epoch 83/100
24/24 [==============================] - 0s 1ms/step - loss: 0.5628 - accuracy: 0.7264
Epoch 84/100
24/24 [==============================] - 0s 1ms/step - loss: 0.5620 - accuracy: 0.7291
Epoch 85/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5619 - accuracy: 0.7304
Epoch 86/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5604 - accuracy: 0.7291
Epoch 87/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5604 - accuracy: 0.7317
Epoch 88/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5600 - accuracy: 0.7317
Epoch 89/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5594 - accuracy: 0.7304
Epoch 90/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5598 - accuracy: 0.7304
Epoch 91/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5592 - accuracy: 0.7330
Epoch 92/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5578 - accuracy: 0.7330
Epoch 93/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5578 - accuracy: 0.7343
Epoch 94/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5571 - accuracy: 0.7356
Epoch 95/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5575 - accuracy: 0.7356
Epoch 96/100
24/24 [==============================] - 0s 1ms/step - loss: 0.5558 - accuracy: 0.7369
Epoch 97/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5556 - accuracy: 0.7382
Epoch 98/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5559 - accuracy: 0.7369
Epoch 99/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5545 - accuracy: 0.7369
Epoch 100/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5551 - accuracy: 0.7395

In [39]:
#Check the model's loss and accuracy 
model_loss, model_accuracy = nn_model.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8/8 - 0s - loss: 0.5612 - accuracy: 0.7333 - 182ms/epoch - 23ms/step
Loss: 0.5612168312072754, Accuracy: 0.7333333492279053

In [41]:
#Compare the test data to the predictions
predictions = nn_model.predict(X_test).reshape(255).tolist()
pd.DataFrame({'y_test':y_test[0],'predictions':predictions}).sort_values(by=['predictions']).head(50)

8/8 [==============================] - 0s 1ms/step

     y_test  predictions
622       0     0.076593
560       0     0.084078
928       0     0.095923
581       0     0.104844
751       0     0.111904
716       0     0.114903
727       0     0.115082
926       0     0.115640
890       0     0.119293
780       0     0.119478
910       0     0.125699
819       1     0.125972
475       0     0.128291
837       0     0.129834
899       0     0.130292
644       0     0.135261
232       0     0.136994
237       0     0.137151
765       0     0.138896
803       0     0.140385
792       0     0.142816
551       0     0.143081
447       1     0.144355
693       0     0.144569
479       0     0.147038
659       0     0.148287
722       0     0.150468
642       0     0.151273
221       0     0.152983
394       1     0.160359
518       0     0.161238
7         0     0.161764
461       0     0.162621
433       0     0.163540
610       1     0.167188
203       0     0.167832
215       0     0.168359
9         1     0.168908
442       0     0.170750
658       0     0.173319
543       0     0.174364
531       0     0.175208
471       1     0.175660
516       0     0.177820
197       0     0.178111
494       1     0.180174
205       0     0.180672
506       0     0.181358
888       0     0.182775
729       0     0.185769