In [211]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

In [212]:
flights_df = pd.read_csv('C:/Users/charl/Downloads/Atlanta_Flights_Status.csv')

In [213]:
Atl_dept = flights_df[flights_df['ORIGIN_CITY_NAME'] == 'Atlanta, GA']

In [214]:
Atl_dept

,Unnamed: 0,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,MKT_UNIQUE_CARRIER,MKT_CARRIER_FL_NUM,ORIGIN_CITY_NAME,DEST_CITY_NAME,CRS_DEP_TIME,DEP_TIME,DEP_DELAY_NEW,DEP_DELAY_GROUP,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2,1,1,7,AA,1051,"Atlanta, GA","Dallas/Fort Worth, TX",1817,1816.0,0.0,-1.0,3,0.0,0.0,0.0,0.0,0.0
1,4,1,1,7,AA,1151,"Atlanta, GA","Miami, FL",602,553.0,0.0,-1.0,3,0.0,0.0,0.0,0.0,0.0
2,5,1,1,7,AA,1181,"Atlanta, GA","Washington, DC",1424,1439.0,15.0,1.0,3,0.0,0.0,0.0,0.0,0.0
3,7,1,1,7,AA,1388,"Atlanta, GA","Miami, FL",1822,1814.0,0.0,-1.0,3,0.0,0.0,19.0,0.0,0.0
4,8,1,1,7,AA,1411,"Atlanta, GA","Charlotte, NC",1253,1247.0,0.0,-1.0,1,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223828,59852,9,30,6,WN,712,"Atlanta, GA","Milwaukee, WI",825,824.0,0.0,-1.0,3,0.0,0.0,0.0,0.0,0.0
223829,59854,9,30,6,WN,713,"Atlanta, GA","Phoenix, AZ",1755,1827.0,32.0,2.0,7,5.0,0.0,5.0,0.0,27.0
223830,59856,9,30,6,WN,778,"Atlanta, GA","Orlando, FL",1030,1025.0,0.0,-1.0,2,0.0,0.0,0.0,0.0,0.0
223831,59860,9,30,6,WN,924,"Atlanta, GA","West Palm Beach/Palm Beach, FL",1055,1058.0,3.0,0.0,3,0.0,0.0,0.0,0.0,0.0
223832,59861,9,30,6,WN,951,"Atlanta, GA","Denver, CO",1510,1511.0,1.0,0.0,5,0.0,0.0,0.0,0.0,0.0

In [215]:
selected_carriers = ['AA', 'DL']
AA_DL_Atl_depts = Atl_dept[Atl_dept['MKT_UNIQUE_CARRIER'].isin(selected_carriers)]

In [216]:
AA_Atl_depts

,Unnamed: 0,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,MKT_UNIQUE_CARRIER,MKT_CARRIER_FL_NUM,ORIGIN_CITY_NAME,DEST_CITY_NAME,CRS_DEP_TIME,DEP_TIME,DEP_DELAY_NEW,DEP_DELAY_GROUP,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2,1,1,7,AA,1051,"Atlanta, GA","Dallas/Fort Worth, TX",1817,1816.0,0.0,-1.0,3,0.0,0.0,0.0,0.0,0.0
1,4,1,1,7,AA,1151,"Atlanta, GA","Miami, FL",602,553.0,0.0,-1.0,3,0.0,0.0,0.0,0.0,0.0
2,5,1,1,7,AA,1181,"Atlanta, GA","Washington, DC",1424,1439.0,15.0,1.0,3,0.0,0.0,0.0,0.0,0.0
3,7,1,1,7,AA,1388,"Atlanta, GA","Miami, FL",1822,1814.0,0.0,-1.0,3,0.0,0.0,19.0,0.0,0.0
4,8,1,1,7,AA,1411,"Atlanta, GA","Charlotte, NC",1253,1247.0,0.0,-1.0,1,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223111,58119,9,30,6,AA,5369,"Atlanta, GA","Charlotte, NC",1220,1215.0,0.0,-1.0,1,0.0,0.0,0.0,0.0,0.0
223112,58121,9,30,6,AA,5404,"Atlanta, GA","Charlotte, NC",1608,1618.0,10.0,0.0,1,0.0,0.0,0.0,0.0,0.0
223113,58141,9,30,6,AA,861,"Atlanta, GA","Philadelphia, PA",1229,1221.0,0.0,-1.0,3,0.0,0.0,0.0,0.0,0.0
223114,58143,9,30,6,AA,980,"Atlanta, GA","Dallas/Fort Worth, TX",1426,1414.0,0.0,-1.0,3,0.0,0.0,0.0,0.0,0.0
223115,58145,9,30,6,AA,982,"Atlanta, GA","Dallas/Fort Worth, TX",1247,1237.0,0.0,-1.0,3,0.0,0.0,0.0,0.0,0.0

In [217]:
sorted_df = Atl_dept.sort_values(by=['MONTH','DAY_OF_MONTH', 'CRS_DEP_TIME'], ascending=[True, True, True])

In [218]:
sorted_df

,Unnamed: 0,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,MKT_UNIQUE_CARRIER,MKT_CARRIER_FL_NUM,ORIGIN_CITY_NAME,DEST_CITY_NAME,CRS_DEP_TIME,DEP_TIME,DEP_DELAY_NEW,DEP_DELAY_GROUP,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
476,1018,1,1,7,DL,756,"Atlanta, GA","New York, NY",500,538.0,38.0,2.0,4,38.0,0.0,12.0,0.0,0.0
610,1471,1,1,7,WN,591,"Atlanta, GA","Orlando, FL",600,642.0,42.0,2.0,2,0.0,0.0,0.0,23.0,0.0
1,4,1,1,7,AA,1151,"Atlanta, GA","Miami, FL",602,553.0,0.0,-1.0,3,0.0,0.0,0.0,0.0,0.0
540,1316,1,1,7,WN,1416,"Atlanta, GA","Chicago, IL",605,604.0,0.0,-1.0,3,0.0,0.0,0.0,0.0,0.0
580,1405,1,1,7,WN,2885,"Atlanta, GA","New York, NY",615,613.0,0.0,-1.0,4,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223297,58536,9,30,6,DL,2029,"Atlanta, GA","Mobile, AL",2300,2247.0,0.0,-1.0,2,0.0,0.0,0.0,0.0,0.0
223310,58564,9,30,6,DL,2083,"Atlanta, GA","Little Rock, AR",2300,2247.0,0.0,-1.0,2,0.0,0.0,0.0,0.0,0.0
223517,58987,9,30,6,DL,2976,"Atlanta, GA","Greer, SC",2300,2304.0,4.0,0.0,1,0.0,0.0,0.0,0.0,0.0
223284,58514,9,30,6,DL,1844,"Atlanta, GA","Fayetteville, NC",2301,2249.0,0.0,-1.0,2,0.0,0.0,0.0,0.0,0.0
223320,58584,9,30,6,DL,2139,"Atlanta, GA","Columbia, SC",2301,2259.0,0.0,-1.0,1,0.0,0.0,0.0,0.0,0.0

In [219]:
sorted_df = sorted_df.fillna(0)

In [220]:
sorted_df

,Unnamed: 0,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,MKT_UNIQUE_CARRIER,MKT_CARRIER_FL_NUM,ORIGIN_CITY_NAME,DEST_CITY_NAME,CRS_DEP_TIME,DEP_TIME,DEP_DELAY_NEW,DEP_DELAY_GROUP,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
476,1018,1,1,7,DL,756,"Atlanta, GA","New York, NY",500,538.0,38.0,2.0,4,38.0,0.0,12.0,0.0,0.0
610,1471,1,1,7,WN,591,"Atlanta, GA","Orlando, FL",600,642.0,42.0,2.0,2,0.0,0.0,0.0,23.0,0.0
1,4,1,1,7,AA,1151,"Atlanta, GA","Miami, FL",602,553.0,0.0,-1.0,3,0.0,0.0,0.0,0.0,0.0
540,1316,1,1,7,WN,1416,"Atlanta, GA","Chicago, IL",605,604.0,0.0,-1.0,3,0.0,0.0,0.0,0.0,0.0
580,1405,1,1,7,WN,2885,"Atlanta, GA","New York, NY",615,613.0,0.0,-1.0,4,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223297,58536,9,30,6,DL,2029,"Atlanta, GA","Mobile, AL",2300,2247.0,0.0,-1.0,2,0.0,0.0,0.0,0.0,0.0
223310,58564,9,30,6,DL,2083,"Atlanta, GA","Little Rock, AR",2300,2247.0,0.0,-1.0,2,0.0,0.0,0.0,0.0,0.0
223517,58987,9,30,6,DL,2976,"Atlanta, GA","Greer, SC",2300,2304.0,4.0,0.0,1,0.0,0.0,0.0,0.0,0.0
223284,58514,9,30,6,DL,1844,"Atlanta, GA","Fayetteville, NC",2301,2249.0,0.0,-1.0,2,0.0,0.0,0.0,0.0,0.0
223320,58584,9,30,6,DL,2139,"Atlanta, GA","Columbia, SC",2301,2259.0,0.0,-1.0,1,0.0,0.0,0.0,0.0,0.0

In [221]:
X=AA_Atl_depts[['CRS_DEP_TIME']]
X

        CRS_DEP_TIME
0               1817
1                602
2               1424
3               1822
4               1253
...              ...
223111          1220
223112          1608
223113          1229
223114          1426
223115          1247

[9242 rows x 1 columns]

In [222]:
#Scale the feature data, X
from sklearn.preprocessing import StandardScaler
# Scaling the numeric columns
scaler = StandardScaler()
scaler.fit(X)
transformed_data = scaler.transform(X)
# Creating a DataFrame with with the scaled data
transformed_data_df = pd.DataFrame(transformed_data)

transformed_data_df

             0
0     1.162012
1    -1.390390
2     0.336420
3     1.172516
4    -0.022807
...        ...
9237 -0.092131
9238  0.722957
9239 -0.073224
9240  0.340622
9241 -0.035411

[9242 rows x 1 columns]

In [223]:
from sklearn.decomposition import PCA
# Create a PCA model
pca = PCA(n_components=1)

In [224]:
# Use the PCA model with `fit_transform` to reduce to
# three principal components.
pca_data = pca.fit_transform(transformed_data_df)

pca_dict = {}
for i in range(0,3):
    pca_dict[f'pca{i+1}']=pca_data[:,0]
# Display sample data
pca_df = pd.DataFrame(pca_dict)
pca_df

          pca1      pca2      pca3
0     1.162012  1.162012  1.162012
1    -1.390390 -1.390390 -1.390390
2     0.336420  0.336420  0.336420
3     1.172516  1.172516  1.172516
4    -0.022807 -0.022807 -0.022807
...        ...       ...       ...
9237 -0.092131 -0.092131 -0.092131
9238  0.722957  0.722957  0.722957
9239 -0.073224 -0.073224 -0.073224
9240  0.340622  0.340622  0.340622
9241 -0.035411 -0.035411 -0.035411

[9242 rows x 3 columns]

In [225]:
#Seperate the data into features and targets
is_delayed=AA_Atl_depts['DEP_DELAY_NEW'].tolist()
y=[]
#Determine if the flight was delayed using the DEP_DELAY_NEW column and
#convert to boolean values
for i in is_delayed:
    if i == 0:
        y.append(0)
    else:
        y.append(1)
y = pd.DataFrame(y)
y

      0
0     0
1     0
2     1
3     0
4     0
...  ..
9237  0
9238  1
9239  0
9240  0
9241  0

[9242 rows x 1 columns]

In [226]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(transformed_data_df, y, random_state=78)

In [227]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=6, activation="relu", input_dim=1))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=6, activation="relu"))

# Third hidden layer
nn_model.add(tf.keras.layers.Dense(units=6, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_18"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_72 (Dense)            (None, 6)                 12

 dense_73 (Dense)            (None, 6)                 42

 dense_74 (Dense)            (None, 6)                 42

 dense_75 (Dense)            (None, 1)                 7

=================================================================
Total params: 103 (412.00 Byte)
Trainable params: 103 (412.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [228]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [229]:
# Train the model
fit_model = nn_model.fit(X_train, y_train, epochs=100)

Epoch 1/100
217/217 [==============================] - 1s 2ms/step - loss: 0.6222 - accuracy: 0.6999
Epoch 2/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5901 - accuracy: 0.6999
Epoch 3/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5893 - accuracy: 0.6999
Epoch 4/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5889 - accuracy: 0.6999
Epoch 5/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5889 - accuracy: 0.6999
Epoch 6/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5885 - accuracy: 0.6999
Epoch 7/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5889 - accuracy: 0.6999
Epoch 8/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5888 - accuracy: 0.6999
Epoch 9/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5887 - accuracy: 0.6999
Epoch 10/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5886 - accuracy: 0.6999
Epoch 11/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5886 - accuracy: 0.6999
Epoch 12/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5886 - accuracy: 0.6999
Epoch 13/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5886 - accuracy: 0.6999
Epoch 14/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5885 - accuracy: 0.6999
Epoch 15/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5884 - accuracy: 0.6999
Epoch 16/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5884 - accuracy: 0.6999
Epoch 17/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5885 - accuracy: 0.6999
Epoch 18/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5885 - accuracy: 0.6999
Epoch 19/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5885 - accuracy: 0.6999
Epoch 20/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5884 - accuracy: 0.6999
Epoch 21/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5885 - accuracy: 0.6999
Epoch 22/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5885 - accuracy: 0.6999
Epoch 23/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5884 - accuracy: 0.6999
Epoch 24/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5886 - accuracy: 0.6999
Epoch 25/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5883 - accuracy: 0.6999
Epoch 26/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5884 - accuracy: 0.6999
Epoch 27/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5884 - accuracy: 0.6999
Epoch 28/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5884 - accuracy: 0.6999
Epoch 29/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5884 - accuracy: 0.6999
Epoch 30/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5885 - accuracy: 0.6999
Epoch 31/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5883 - accuracy: 0.6999
Epoch 32/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5884 - accuracy: 0.6999
Epoch 33/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5884 - accuracy: 0.6999
Epoch 34/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5884 - accuracy: 0.6999
Epoch 35/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5884 - accuracy: 0.6999
Epoch 36/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5883 - accuracy: 0.6999
Epoch 37/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5885 - accuracy: 0.6999
Epoch 38/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5885 - accuracy: 0.6999
Epoch 39/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5885 - accuracy: 0.6999
Epoch 40/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5885 - accuracy: 0.6999
Epoch 41/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5885 - accuracy: 0.6999
Epoch 42/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5883 - accuracy: 0.6999
Epoch 43/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5884 - accuracy: 0.6999
Epoch 44/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5883 - accuracy: 0.6999
Epoch 45/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5884 - accuracy: 0.6999
Epoch 46/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5884 - accuracy: 0.6999
Epoch 47/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5884 - accuracy: 0.6999
Epoch 48/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5884 - accuracy: 0.6999
Epoch 49/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5885 - accuracy: 0.6999
Epoch 50/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5884 - accuracy: 0.6999
Epoch 51/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5882 - accuracy: 0.6999
Epoch 52/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5884 - accuracy: 0.6999
Epoch 53/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5883 - accuracy: 0.6999
Epoch 54/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5882 - accuracy: 0.6999
Epoch 55/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5885 - accuracy: 0.6999
Epoch 56/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5882 - accuracy: 0.6999
Epoch 57/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5884 - accuracy: 0.6999
Epoch 58/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5883 - accuracy: 0.6999
Epoch 59/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5883 - accuracy: 0.6999
Epoch 60/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5882 - accuracy: 0.6999
Epoch 61/100
217/217 [==============================] - 1s 3ms/step - loss: 0.5883 - accuracy: 0.6999
Epoch 62/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5882 - accuracy: 0.6999
Epoch 63/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5883 - accuracy: 0.6999
Epoch 64/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5882 - accuracy: 0.6999
Epoch 65/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5883 - accuracy: 0.6999
Epoch 66/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5882 - accuracy: 0.6999
Epoch 67/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5883 - accuracy: 0.6999
Epoch 68/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5884 - accuracy: 0.6999
Epoch 69/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5882 - accuracy: 0.6999
Epoch 70/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5882 - accuracy: 0.6999
Epoch 71/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5882 - accuracy: 0.6999
Epoch 72/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5881 - accuracy: 0.6999
Epoch 73/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5882 - accuracy: 0.6999
Epoch 74/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5882 - accuracy: 0.6999
Epoch 75/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5881 - accuracy: 0.6999
Epoch 76/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5881 - accuracy: 0.6999
Epoch 77/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5881 - accuracy: 0.6999
Epoch 78/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5882 - accuracy: 0.6999
Epoch 79/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5882 - accuracy: 0.6999
Epoch 80/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5881 - accuracy: 0.6999
Epoch 81/100

217/217 [==============================] - 0s 2ms/step - loss: 0.5882 - accuracy: 0.6999
Epoch 82/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5882 - accuracy: 0.6999
Epoch 83/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5881 - accuracy: 0.6999
Epoch 84/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5880 - accuracy: 0.6999
Epoch 85/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5881 - accuracy: 0.6999
Epoch 86/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5879 - accuracy: 0.6999
Epoch 87/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5882 - accuracy: 0.6999
Epoch 88/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5879 - accuracy: 0.6999
Epoch 89/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5882 - accuracy: 0.6999
Epoch 90/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5883 - accuracy: 0.6999
Epoch 91/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5879 - accuracy: 0.6999
Epoch 92/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5881 - accuracy: 0.6999
Epoch 93/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5879 - accuracy: 0.6999
Epoch 94/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5879 - accuracy: 0.6999
Epoch 95/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5880 - accuracy: 0.6999
Epoch 96/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5880 - accuracy: 0.6999
Epoch 97/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5878 - accuracy: 0.6999
Epoch 98/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5882 - accuracy: 0.6999
Epoch 99/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5883 - accuracy: 0.6999
Epoch 100/100
217/217 [==============================] - 0s 2ms/step - loss: 0.5879 - accuracy: 0.6999

In [230]:
#Check the model's loss and accuracy 
model_loss, model_accuracy = nn_model.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

73/73 - 0s - loss: 0.5938 - accuracy: 0.6841 - 271ms/epoch - 4ms/step
Loss: 0.5938277244567871, Accuracy: 0.6841194033622742

In [232]:
#Compare the test data to the predictions
predictions = nn_model.predict(X_test).reshape(2311).tolist()
pd.DataFrame({'y_test':y_test[0],'predictions':predictions}).sort_values(by=['predictions']).head(50)

73/73 [==============================] - 0s 1ms/step

      y_test  predictions
9179       0     0.135494
8629       0     0.135494
8801       0     0.135494
8663       0     0.135494
8869       0     0.135494
5638       0     0.136577
5821       1     0.136577
5449       0     0.136577
5605       0     0.136577
5544       0     0.136577
5091       0     0.137257
4988       0     0.137257
6475       0     0.137257
5023       0     0.137257
6806       0     0.137257
4919       0     0.137257
3904       0     0.137257
4607       0     0.137257
7630       0     0.137257
4781       0     0.137257
7071       1     0.137257
4677       1     0.137257
3619       0     0.137257
6840       1     0.137257
3547       0     0.137257
3408       0     0.137257
3305       0     0.137257
4401       0     0.137257
4365       0     0.137257
6671       0     0.137257
7533       0     0.137257
3975       0     0.137257
4816       1     0.137257
4154       0     0.137257
6378       1     0.137257
6706       0     0.137257
7397       0     0.137257
7690       0     0.138215
7829       0     0.138215
8140       0     0.138215
8105       0     0.138215
880        0     0.139315
632        0     0.139315
7491       0     0.140424
7355       0     0.140424
7389       1     0.140424
7457       0     0.140424
4462       0     0.140702
4566       1     0.140702
4601       0     0.140702