In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

WARNING:tensorflow:From C:\Users\charl\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
flights_df = pd.read_csv('C:/Users/charl/Downloads/Atlanta_Flights_Status.csv')

In [3]:
filtered_df = flights_df

In [4]:
filtered_df

,Unnamed: 0,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,MKT_UNIQUE_CARRIER,MKT_CARRIER_FL_NUM,ORIGIN_CITY_NAME,DEST_CITY_NAME,CRS_DEP_TIME,DEP_TIME,DEP_DELAY_NEW,DEP_DELAY_GROUP,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2,1,1,7,AA,1051,"Atlanta, GA","Dallas/Fort Worth, TX",1817,1816.0,0.0,-1.0,3,0.0,0.0,0.0,0.0,0.0
1,4,1,1,7,AA,1151,"Atlanta, GA","Miami, FL",602,553.0,0.0,-1.0,3,0.0,0.0,0.0,0.0,0.0
2,5,1,1,7,AA,1181,"Atlanta, GA","Washington, DC",1424,1439.0,15.0,1.0,3,0.0,0.0,0.0,0.0,0.0
3,7,1,1,7,AA,1388,"Atlanta, GA","Miami, FL",1822,1814.0,0.0,-1.0,3,0.0,0.0,19.0,0.0,0.0
4,8,1,1,7,AA,1411,"Atlanta, GA","Charlotte, NC",1253,1247.0,0.0,-1.0,1,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223828,59852,9,30,6,WN,712,"Atlanta, GA","Milwaukee, WI",825,824.0,0.0,-1.0,3,0.0,0.0,0.0,0.0,0.0
223829,59854,9,30,6,WN,713,"Atlanta, GA","Phoenix, AZ",1755,1827.0,32.0,2.0,7,5.0,0.0,5.0,0.0,27.0
223830,59856,9,30,6,WN,778,"Atlanta, GA","Orlando, FL",1030,1025.0,0.0,-1.0,2,0.0,0.0,0.0,0.0,0.0
223831,59860,9,30,6,WN,924,"Atlanta, GA","West Palm Beach/Palm Beach, FL",1055,1058.0,3.0,0.0,3,0.0,0.0,0.0,0.0,0.0
223832,59861,9,30,6,WN,951,"Atlanta, GA","Denver, CO",1510,1511.0,1.0,0.0,5,0.0,0.0,0.0,0.0,0.0

In [5]:
filtered_df[filtered_df['ORIGIN_CITY_NAME'] == 'Atlanta, GA']

,Unnamed: 0,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,MKT_UNIQUE_CARRIER,MKT_CARRIER_FL_NUM,ORIGIN_CITY_NAME,DEST_CITY_NAME,CRS_DEP_TIME,DEP_TIME,DEP_DELAY_NEW,DEP_DELAY_GROUP,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2,1,1,7,AA,1051,"Atlanta, GA","Dallas/Fort Worth, TX",1817,1816.0,0.0,-1.0,3,0.0,0.0,0.0,0.0,0.0
1,4,1,1,7,AA,1151,"Atlanta, GA","Miami, FL",602,553.0,0.0,-1.0,3,0.0,0.0,0.0,0.0,0.0
2,5,1,1,7,AA,1181,"Atlanta, GA","Washington, DC",1424,1439.0,15.0,1.0,3,0.0,0.0,0.0,0.0,0.0
3,7,1,1,7,AA,1388,"Atlanta, GA","Miami, FL",1822,1814.0,0.0,-1.0,3,0.0,0.0,19.0,0.0,0.0
4,8,1,1,7,AA,1411,"Atlanta, GA","Charlotte, NC",1253,1247.0,0.0,-1.0,1,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223828,59852,9,30,6,WN,712,"Atlanta, GA","Milwaukee, WI",825,824.0,0.0,-1.0,3,0.0,0.0,0.0,0.0,0.0
223829,59854,9,30,6,WN,713,"Atlanta, GA","Phoenix, AZ",1755,1827.0,32.0,2.0,7,5.0,0.0,5.0,0.0,27.0
223830,59856,9,30,6,WN,778,"Atlanta, GA","Orlando, FL",1030,1025.0,0.0,-1.0,2,0.0,0.0,0.0,0.0,0.0
223831,59860,9,30,6,WN,924,"Atlanta, GA","West Palm Beach/Palm Beach, FL",1055,1058.0,3.0,0.0,3,0.0,0.0,0.0,0.0,0.0
223832,59861,9,30,6,WN,951,"Atlanta, GA","Denver, CO",1510,1511.0,1.0,0.0,5,0.0,0.0,0.0,0.0,0.0

In [6]:
filtered_df

,Unnamed: 0,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,MKT_UNIQUE_CARRIER,MKT_CARRIER_FL_NUM,ORIGIN_CITY_NAME,DEST_CITY_NAME,CRS_DEP_TIME,DEP_TIME,DEP_DELAY_NEW,DEP_DELAY_GROUP,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2,1,1,7,AA,1051,"Atlanta, GA","Dallas/Fort Worth, TX",1817,1816.0,0.0,-1.0,3,0.0,0.0,0.0,0.0,0.0
1,4,1,1,7,AA,1151,"Atlanta, GA","Miami, FL",602,553.0,0.0,-1.0,3,0.0,0.0,0.0,0.0,0.0
2,5,1,1,7,AA,1181,"Atlanta, GA","Washington, DC",1424,1439.0,15.0,1.0,3,0.0,0.0,0.0,0.0,0.0
3,7,1,1,7,AA,1388,"Atlanta, GA","Miami, FL",1822,1814.0,0.0,-1.0,3,0.0,0.0,19.0,0.0,0.0
4,8,1,1,7,AA,1411,"Atlanta, GA","Charlotte, NC",1253,1247.0,0.0,-1.0,1,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223828,59852,9,30,6,WN,712,"Atlanta, GA","Milwaukee, WI",825,824.0,0.0,-1.0,3,0.0,0.0,0.0,0.0,0.0
223829,59854,9,30,6,WN,713,"Atlanta, GA","Phoenix, AZ",1755,1827.0,32.0,2.0,7,5.0,0.0,5.0,0.0,27.0
223830,59856,9,30,6,WN,778,"Atlanta, GA","Orlando, FL",1030,1025.0,0.0,-1.0,2,0.0,0.0,0.0,0.0,0.0
223831,59860,9,30,6,WN,924,"Atlanta, GA","West Palm Beach/Palm Beach, FL",1055,1058.0,3.0,0.0,3,0.0,0.0,0.0,0.0,0.0
223832,59861,9,30,6,WN,951,"Atlanta, GA","Denver, CO",1510,1511.0,1.0,0.0,5,0.0,0.0,0.0,0.0,0.0

In [7]:
selected_carriers = ['AA', 'DL']
AA_DL_Atl_depts = filtered_df[filtered_df['MKT_UNIQUE_CARRIER'].isin(selected_carriers)]

In [8]:
AA_DL_Atl_depts

,Unnamed: 0,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,MKT_UNIQUE_CARRIER,MKT_CARRIER_FL_NUM,ORIGIN_CITY_NAME,DEST_CITY_NAME,CRS_DEP_TIME,DEP_TIME,DEP_DELAY_NEW,DEP_DELAY_GROUP,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2,1,1,7,AA,1051,"Atlanta, GA","Dallas/Fort Worth, TX",1817,1816.0,0.0,-1.0,3,0.0,0.0,0.0,0.0,0.0
1,4,1,1,7,AA,1151,"Atlanta, GA","Miami, FL",602,553.0,0.0,-1.0,3,0.0,0.0,0.0,0.0,0.0
2,5,1,1,7,AA,1181,"Atlanta, GA","Washington, DC",1424,1439.0,15.0,1.0,3,0.0,0.0,0.0,0.0,0.0
3,7,1,1,7,AA,1388,"Atlanta, GA","Miami, FL",1822,1814.0,0.0,-1.0,3,0.0,0.0,19.0,0.0,0.0
4,8,1,1,7,AA,1411,"Atlanta, GA","Charlotte, NC",1253,1247.0,0.0,-1.0,1,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223740,59453,9,30,6,DL,966,"Atlanta, GA","Las Vegas, NV",1945,1940.0,0.0,-1.0,7,0.0,0.0,0.0,0.0,0.0
223741,59455,9,30,6,DL,988,"Atlanta, GA","Tampa, FL",1455,1513.0,18.0,1.0,2,0.0,0.0,0.0,0.0,0.0
223742,59457,9,30,6,DL,989,"Atlanta, GA","Ontario, CA",2045,2044.0,0.0,-1.0,8,0.0,0.0,0.0,0.0,0.0
223743,59459,9,30,6,DL,994,"Atlanta, GA","Phoenix, AZ",1350,1342.0,0.0,-1.0,7,0.0,0.0,0.0,0.0,0.0
223744,59460,9,30,6,DL,995,"Atlanta, GA","Denver, CO",1004,1039.0,35.0,2.0,5,0.0,0.0,0.0,0.0,0.0

In [9]:
sorted_df = AA_DL_Atl_depts.sort_values(by=['MONTH','DAY_OF_MONTH', 'CRS_DEP_TIME'], ascending=[True, True, True])

In [10]:
sorted_df

,Unnamed: 0,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,MKT_UNIQUE_CARRIER,MKT_CARRIER_FL_NUM,ORIGIN_CITY_NAME,DEST_CITY_NAME,CRS_DEP_TIME,DEP_TIME,DEP_DELAY_NEW,DEP_DELAY_GROUP,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
476,1018,1,1,7,DL,756,"Atlanta, GA","New York, NY",500,538.0,38.0,2.0,4,38.0,0.0,12.0,0.0,0.0
1,4,1,1,7,AA,1151,"Atlanta, GA","Miami, FL",602,553.0,0.0,-1.0,3,0.0,0.0,0.0,0.0,0.0
164,399,1,1,7,DL,2085,"Atlanta, GA","Boston, MA",700,656.0,0.0,-1.0,4,0.0,0.0,0.0,0.0,0.0
11,24,1,1,7,AA,2344,"Atlanta, GA","Miami, FL",705,656.0,0.0,-1.0,3,0.0,0.0,0.0,0.0,0.0
403,877,1,1,7,DL,503,"Atlanta, GA","Minneapolis, MN",715,720.0,5.0,0.0,4,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223297,58536,9,30,6,DL,2029,"Atlanta, GA","Mobile, AL",2300,2247.0,0.0,-1.0,2,0.0,0.0,0.0,0.0,0.0
223310,58564,9,30,6,DL,2083,"Atlanta, GA","Little Rock, AR",2300,2247.0,0.0,-1.0,2,0.0,0.0,0.0,0.0,0.0
223517,58987,9,30,6,DL,2976,"Atlanta, GA","Greer, SC",2300,2304.0,4.0,0.0,1,0.0,0.0,0.0,0.0,0.0
223284,58514,9,30,6,DL,1844,"Atlanta, GA","Fayetteville, NC",2301,2249.0,0.0,-1.0,2,0.0,0.0,0.0,0.0,0.0
223320,58584,9,30,6,DL,2139,"Atlanta, GA","Columbia, SC",2301,2259.0,0.0,-1.0,1,0.0,0.0,0.0,0.0,0.0

In [11]:
sorted_df2 = sorted_df.fillna(0)

In [12]:
sorted_df2

,Unnamed: 0,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,MKT_UNIQUE_CARRIER,MKT_CARRIER_FL_NUM,ORIGIN_CITY_NAME,DEST_CITY_NAME,CRS_DEP_TIME,DEP_TIME,DEP_DELAY_NEW,DEP_DELAY_GROUP,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
476,1018,1,1,7,DL,756,"Atlanta, GA","New York, NY",500,538.0,38.0,2.0,4,38.0,0.0,12.0,0.0,0.0
1,4,1,1,7,AA,1151,"Atlanta, GA","Miami, FL",602,553.0,0.0,-1.0,3,0.0,0.0,0.0,0.0,0.0
164,399,1,1,7,DL,2085,"Atlanta, GA","Boston, MA",700,656.0,0.0,-1.0,4,0.0,0.0,0.0,0.0,0.0
11,24,1,1,7,AA,2344,"Atlanta, GA","Miami, FL",705,656.0,0.0,-1.0,3,0.0,0.0,0.0,0.0,0.0
403,877,1,1,7,DL,503,"Atlanta, GA","Minneapolis, MN",715,720.0,5.0,0.0,4,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223297,58536,9,30,6,DL,2029,"Atlanta, GA","Mobile, AL",2300,2247.0,0.0,-1.0,2,0.0,0.0,0.0,0.0,0.0
223310,58564,9,30,6,DL,2083,"Atlanta, GA","Little Rock, AR",2300,2247.0,0.0,-1.0,2,0.0,0.0,0.0,0.0,0.0
223517,58987,9,30,6,DL,2976,"Atlanta, GA","Greer, SC",2300,2304.0,4.0,0.0,1,0.0,0.0,0.0,0.0,0.0
223284,58514,9,30,6,DL,1844,"Atlanta, GA","Fayetteville, NC",2301,2249.0,0.0,-1.0,2,0.0,0.0,0.0,0.0,0.0
223320,58584,9,30,6,DL,2139,"Atlanta, GA","Columbia, SC",2301,2259.0,0.0,-1.0,1,0.0,0.0,0.0,0.0,0.0

In [13]:
X=sorted_df2[['CRS_DEP_TIME','DAY_OF_WEEK']]
X

        CRS_DEP_TIME  DAY_OF_WEEK
476              500            7
1                602            7
164              700            7
11               705            7
403              715            7
...              ...          ...
223297          2300            6
223310          2300            6
223517          2300            6
223284          2301            6
223320          2301            6

[197508 rows x 2 columns]

In [14]:
#Scale the feature data, X
from sklearn.preprocessing import StandardScaler
# Scaling the numeric columns
scaler = StandardScaler()
scaler.fit(X)
transformed_data = scaler.transform(X)
# Creating a DataFrame with with the scaled data
transformed_data_df = pd.DataFrame(transformed_data)

transformed_data_df

               0         1
0      -1.987744  1.510895
1      -1.781481  1.510895
2      -1.583306  1.510895
3      -1.573195  1.510895
4      -1.552973  1.510895
...          ...       ...
197503  1.652194  1.011160
197504  1.652194  1.011160
197505  1.652194  1.011160
197506  1.654216  1.011160
197507  1.654216  1.011160

[197508 rows x 2 columns]

In [15]:
from sklearn.decomposition import PCA
# Create a PCA model
pca = PCA(n_components=2)

In [16]:
# Use the PCA model with `fit_transform` to reduce to
# three principal components.
pca_data = pca.fit_transform(transformed_data_df)

pca_dict = {}
for i in range(0,3):
    pca_dict[f'pca{i+1}']=pca_data[:,1]
# Display sample data
pca_df = pd.DataFrame(pca_dict)
pca_df

            pca1      pca2      pca3
0       2.473911  2.473911  2.473911
1       2.328061  2.328061  2.328061
2       2.187930  2.187930  2.187930
3       2.180781  2.180781  2.180781
4       2.166482  2.166482  2.166482
...          ...       ...       ...
197503 -0.453280 -0.453280 -0.453280
197504 -0.453280 -0.453280 -0.453280
197505 -0.453280 -0.453280 -0.453280
197506 -0.454710 -0.454710 -0.454710
197507 -0.454710 -0.454710 -0.454710

[197508 rows x 3 columns]

In [17]:
#Seperate the data into features and targets
is_delayed=sorted_df2['DEP_DELAY_GROUP'].tolist()
y=[]
#Determine if the flight was delayed using the DEP_DELAY_NEW column and
#convert to boolean values
for i in is_delayed:
    if i == 0:
        y.append(0)
    else:
        y.append(1)
y = pd.DataFrame(y)
y.value_counts()

1    148544
0     48964
Name: count, dtype: int64

In [18]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(transformed_data_df, y, random_state=78)

In [19]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=6, activation="relu", input_dim=2))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=6, activation="relu"))

# Third hidden layer
nn_model.add(tf.keras.layers.Dense(units=6, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

WARNING:tensorflow:From C:\Users\charl\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 6)                 18

 dense_1 (Dense)             (None, 6)                 42

 dense_2 (Dense)             (None, 6)                 42

 dense_3 (Dense)             (None, 1)                 7

=================================================================
Total params: 109 (436.00 Byte)
Trainable params: 109 (436.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [20]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\charl\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [21]:
# Train the model
fit_model = nn_model.fit(X_train, y_train, epochs=100)

Epoch 1/100
WARNING:tensorflow:From C:\Users\charl\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\charl\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

4630/4630 [==============================] - 9s 2ms/step - loss: 0.5619 - accuracy: 0.7520
Epoch 2/100
4630/4630 [==============================] - 8s 2ms/step - loss: 0.5601 - accuracy: 0.7520
Epoch 3/100
4630/4630 [==============================] - 8s 2ms/step - loss: 0.5599 - accuracy: 0.7520
Epoch 4/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5598 - accuracy: 0.7520
Epoch 5/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5598 - accuracy: 0.7520
Epoch 6/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5597 - accuracy: 0.7520
Epoch 7/100
4630/4630 [==============================] - 10s 2ms/step - loss: 0.5597 - accuracy: 0.7520
Epoch 8/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5597 - accuracy: 0.7520
Epoch 9/100
4630/4630 [==============================] - 10s 2ms/step - loss: 0.5597 - accuracy: 0.7520
Epoch 10/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5596 - accuracy: 0.7520
Epoch 11/100
4630/4630 [==============================] - 10s 2ms/step - loss: 0.5597 - accuracy: 0.7520
Epoch 12/100
4630/4630 [==============================] - 10s 2ms/step - loss: 0.5596 - accuracy: 0.7520
Epoch 13/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5596 - accuracy: 0.7520
Epoch 14/100
4630/4630 [==============================] - 10s 2ms/step - loss: 0.5596 - accuracy: 0.7520
Epoch 15/100
4630/4630 [==============================] - 10s 2ms/step - loss: 0.5596 - accuracy: 0.7520
Epoch 16/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5596 - accuracy: 0.7520
Epoch 17/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5595 - accuracy: 0.7520
Epoch 18/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5596 - accuracy: 0.7520
Epoch 19/100
4630/4630 [==============================] - 10s 2ms/step - loss: 0.5596 - accuracy: 0.7520
Epoch 20/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5596 - accuracy: 0.7520
Epoch 21/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5596 - accuracy: 0.7520
Epoch 22/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5596 - accuracy: 0.7520
Epoch 23/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5596 - accuracy: 0.7520
Epoch 24/100
4630/4630 [==============================] - 10s 2ms/step - loss: 0.5595 - accuracy: 0.7520
Epoch 25/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5595 - accuracy: 0.7520
Epoch 26/100
4630/4630 [==============================] - 10s 2ms/step - loss: 0.5595 - accuracy: 0.7520
Epoch 27/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5595 - accuracy: 0.7520
Epoch 28/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5595 - accuracy: 0.7520
Epoch 29/100
4630/4630 [==============================] - 10s 2ms/step - loss: 0.5595 - accuracy: 0.7520
Epoch 30/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5595 - accuracy: 0.7520
Epoch 31/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5595 - accuracy: 0.7520
Epoch 32/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 33/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5595 - accuracy: 0.7520
Epoch 34/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 35/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 36/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 37/100
4630/4630 [==============================] - 8s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 38/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 39/100
4630/4630 [==============================] - 8s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 40/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 41/100
4630/4630 [==============================] - 8s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 42/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 43/100
4630/4630 [==============================] - 8s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 44/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 45/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 46/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5593 - accuracy: 0.7520
Epoch 47/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 48/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 49/100
4630/4630 [==============================] - 10s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 50/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 51/100
4630/4630 [==============================] - 8s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 52/100
4630/4630 [==============================] - 8s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 53/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 54/100
4630/4630 [==============================] - 8s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 55/100
4630/4630 [==============================] - 8s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 56/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 57/100
4630/4630 [==============================] - 8s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 58/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5593 - accuracy: 0.7520
Epoch 59/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 60/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 61/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 62/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 63/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 64/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5593 - accuracy: 0.7520
Epoch 65/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 66/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 67/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 68/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 69/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 70/100
4630/4630 [==============================] - 8s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 71/100
4630/4630 [==============================] - 8s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 72/100
4630/4630 [==============================] - 8s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 73/100
4630/4630 [==============================] - 8s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 74/100

4630/4630 [==============================] - 8s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 75/100
4630/4630 [==============================] - 8s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 76/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 77/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5593 - accuracy: 0.7520
Epoch 78/100
4630/4630 [==============================] - 8s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 79/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 80/100
4630/4630 [==============================] - 8s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 81/100
4630/4630 [==============================] - 8s 2ms/step - loss: 0.5593 - accuracy: 0.7520
Epoch 82/100
4630/4630 [==============================] - 8s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 83/100
4630/4630 [==============================] - 8s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 84/100
4630/4630 [==============================] - 8s 2ms/step - loss: 0.5593 - accuracy: 0.7520
Epoch 85/100
4630/4630 [==============================] - 8s 2ms/step - loss: 0.5593 - accuracy: 0.7520
Epoch 86/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5593 - accuracy: 0.7520
Epoch 87/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5593 - accuracy: 0.7520
Epoch 88/100
4630/4630 [==============================] - 10s 2ms/step - loss: 0.5593 - accuracy: 0.7520
Epoch 89/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5593 - accuracy: 0.7520
Epoch 90/100
4630/4630 [==============================] - 10s 2ms/step - loss: 0.5593 - accuracy: 0.7520
Epoch 91/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 92/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 93/100
4630/4630 [==============================] - 10s 2ms/step - loss: 0.5593 - accuracy: 0.7520
Epoch 94/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5593 - accuracy: 0.7520
Epoch 95/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5593 - accuracy: 0.7520
Epoch 96/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 97/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5593 - accuracy: 0.7520
Epoch 98/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5594 - accuracy: 0.7520
Epoch 99/100
4630/4630 [==============================] - 9s 2ms/step - loss: 0.5593 - accuracy: 0.7520
Epoch 100/100
4630/4630 [==============================] - 10s 2ms/step - loss: 0.5593 - accuracy: 0.7520

In [22]:
#Check the model's loss and accuracy 
model_loss, model_accuracy = nn_model.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

1544/1544 - 2s - loss: 0.5587 - accuracy: 0.7525 - 2s/epoch - 1ms/step
Loss: 0.5586671829223633, Accuracy: 0.7524555921554565

In [24]:
#Compare the test data to the predictions
predictions = nn_model.predict(X_test).reshape(49377).tolist()
pd.DataFrame({'y_test':y_test[0],'predictions':predictions}).sort_values(by=['predictions']).head(20)

1544/1544 [==============================] - 2s 1ms/step

        y_test  predictions
81941        1     0.696091
76825        1     0.696091
112428       0     0.696091
87032        1     0.696091
175536       1     0.696091
196095       1     0.696091
3212         1     0.696091
97176        0     0.696091
97192        0     0.696091
102316       0     0.696091
41327        1     0.696091
144614       1     0.696091
160002       1     0.696091
12564        0     0.696091
66719        1     0.696091
7837         1     0.696091
196074       1     0.696091
61621        1     0.696091
17480        0     0.696091
160035       0     0.696091